html, body {
    background-color: #075e54;
    padding-bottom: 20px;
    font-family: "Catamaran", sans-serif;
    font-weight: 600;
    line-height: 1.6;
    word-wrap: break-word;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
}
.card {
    border-radius: 10px;
    font-family: "Catamaran", sans-serif;
}
.quote-text {
    white-space: pre-line;
}
.pagination {
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
}
.pagination ul.pagination-list li a {
    padding: 8px 12px; /* Adjust size as needed */
    font-size: 16px; /* Adjust font size as needed */
}
.pagination ul.pagination-list li.is-current a {
    background-color: #0da3d1; /* Adjust current page background color as needed */
    color: #ffffff; /* Adjust current page text color as needed */
}
.pagination ul.pagination-list li a:hover {
    background-color: #ff6c6c; /* Adjust hover background color as needed */
    color: #020811; /* Adjust hover text color as needed */
}
.pagination {
    font-family: "Catamaran", sans-serif;
    justify-content: center;
    margin-top: 20px;
}
.pagination-link {
    background-color: #075e54;
    color: #d1dce7;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
}
.pagination-link.is-current {
    background-color: #e1f33d;
    color: #080505;
    font-weight: bold;
}
.chat-box {
    font-family: "Catamaran", sans-serif;
    max-width: 400px;
    margin: 20px auto;
}
.quote-card {
    font-family: "Catamaran", sans-serif;
    padding: 20px;
    position: relative;
    background-color: #dcf8c6; /* Light green background */
    border-radius: 16px;
    border: 1px solid #b7e4a9; /* Light green border */
}
.quote-card:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -10px;
    border-top: 10px solid transparent;
    border-right: 10px solid #dcf8c6; /* Light green background */
    border-bottom: 10px solid transparent;
}
.quote-text {
    letter-spacing: .03em;
    word-wrap: break-word;
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    color: #221f1f;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
}
.quote-author {
    font-family: "Catamaran", sans-serif;
    font-size: 12px;
    color: #1b1919;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
}
.quote-date {
    font-family: "Catamaran", sans-serif;
    font-size: 12px;
    color: #141313;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
}
.quote-tags {
    font-family: "Catamaran", sans-serif;
    font-size: 12px;
    color: #141313;
    margin-top: 10px;
    font-weight: bold;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
}
/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .chat-box {
        margin: 20px auto;
    }
    .quote-card {
        border-radius: 10px;
    }
    .quote-card:before {
        border-top: 8px solid transparent;
        border-right: 8px solid #dcf8c6; /* Light green background */
        border-bottom: 8px solid transparent;
    }
}